

<h1>投稿一覧</h1>
<br><br>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.title %></td>
        <td><%= picture.content %></td>
        <td><%= link_to picture.user.name, user_path(picture.user.id) %></td>
        <td><%= link_to '詳細を見る', picture %></td>
        <td><%= link_to '編集する', edit_picture_path(picture) %></td>
        <td><%= link_to '削除する', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '投稿する', new_picture_path, class: 'btn btn-info' %>
